/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul,
ol elements with a list role,
which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


body {
    font-family: "Poppins", sans-serif;
}

.wrapper {
    position: relative;
}

.modalStart {
    position: absolute;
    background: bisque;
    min-height: 100vh;
    width: 100%;
    z-index: 1;
}

.hideModalMenuCtrl, .hide {
    display: none;
}

.container {
    position: relative;
    width: 90%;
    max-width: 490px;
    background-color: aqua;
    margin: auto;
    display: grid;
    gap: 0.5rem;
   
}

.modalClose {
	margin: auto;
}

.containerGrid4 {
    grid-template-columns: repeat(4, 1fr);
}

.containerGrid6 {
    grid-template-columns: repeat(6, 1fr);
}

h1 {
    text-align: center;
}

.gameSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3%;
    width: 325px;
    margin: 2% auto
}

.gameNum {
    border: 2px solid black;
    text-align: center;
    /* padding: 1rem;  */ 
    font-size: 0;
    height: 72px; 
    user-select: none;  
    border-radius: 50%;
}

.disableCards {
    pointer-events: none;
}

.modalEnd {
    position: absolute;   
    width: 320px;
    height: 290px;
    background-image: radial-gradient(red, brown, silver, black);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -53%);
    animation-name: zoomIn;
    animation-duration: 4s;
}



@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}

i.fa.fa-trophy {
    margin: 5% auto 10%;
    display: block;
    text-align: center;
    font-size: 72px;
    color: darkgoldenrod;
}

input[type="button"] {
    font-size: 1rem;
    display: block;
    padding: 10px;
    border-radius: 5px;
    font-weight: 800;
    border: none;
}

input[type="button"]:hover {
    padding: 12px;
    background-color: rgb(29, 28, 28);
    color: white;
}

.modal input[type="button"] {
    margin: auto;
}

.openCards {
    font-size: 1rem;
    background-color: blue;   
}

.match {
    background-color: blueviolet;
    transform: translate(1.2);
    transition-duration: 1s;
}

.timeKeeper {
    width: 30%;
    margin: auto;
    text-align: center;
    font-size: xx-large;
}

p {
    text-align: center;
    font-size: large;
}