body {
     font-family: "Poppins",  sans-serif;
}
.container {
    position: relative;
    width: 325px;
    height: 290px;
    background-color: aqua;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    border: 5px solid black;
}

h1 {
    text-align: center;
}
.gameSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3%;
    width: 325px;   
    margin: 2% auto
}

.gameNum {
   width: 100px;
   height: 90px;
    border: 2px solid black;
    text-align: center;
    line-height: 90px;
    font-size: 0;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.hide {
    display: none;
}

.modal {    
    position: absolute;
   /* visibility: hidden;
   display: block;
   */
    width: 320px;
    height: 290px;
       background-image: radial-gradient(red, brown, silver, black);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -53%);
     animation-name: zoomIn;
     animation-duration: 4s;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}

i.fa.fa-trophy {
    margin: 5% auto 10%;
    display: block;
    text-align: center;
    font-size: 72px;
    color: darkgoldenrod;
}

input[type="button"] {
    display: block;
    height: 8vh;  
}

.modal input[type="button"] {
    margin: auto;
}
.openCards{
    font-size: xx-large;
    background-color: blue;
    /*transition: ease-in-out;
    transition-duration: 1s;*/
}

.match {
    background-color: blueviolet;
    transform: translate(1.2);
    transition-duration: 1s;
}

.timeKeeper {
    width: 30%;
    margin: auto;
    text-align: center;
    font-size: xx-large;
}

p {
    text-align: center;
    font-size: large;
}